* {
  all: unset;
  font-family: feather;
  font-family: Iosevka;
}

.bg {
  // background-image: url("images/bg.jpg");
  // background-size: 1920px 1080px;
  // background-color: #222222;
  // background-color: transparent;
  background-color: #eeeeee;

  // filter: blur(4px);
  opacity: 1;
}

.genwin {
  border-radius: 16px;
  background-color: #2e3440;
}

.face {
  margin: 65px 0px 0px 0px;
  // color: #948946;
  color: #ffffff;
  font-size: 96px;
}

.fullname {
  font-size: 30px;
  color: #d4d4d4;
  margin: 15px 0px 0px 0px;
  font-weight: bold;
}

.username {
  font-size: 22px;
  color: #8f8f8f;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
}

.iconcpu,
.iconmem,
.iconbright,
.iconbat {
  font-size: 32px;
  font-weight: normal;
}
.iconcpu {
  color: #bfbfbf;
}
.iconmem {
  color: #bfbfbf;
}
.iconbright {
  color: #bfbfbf;
}
.iconbat {
  color: #bfbfbf;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough {
  all: unset;
  background-color: #3a404c;
  border-radius: 16px;
  min-height: 28px;
  min-width: 240px;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough highlight {
  all: unset;
  border-radius: 16px;
}

.cpu_bar scale trough highlight {
  background-color: #bfbfbf;
}
.mem_bar scale trough highlight {
  background-color: #bfbfbf;
}
.bright_bar scale trough highlight {
  background-color: #bfbfbf;
}
.bat_bar scale trough highlight {
  background-color: #bfbfbf;
}

.time_hour,
.time_min {
  color: #bfbfbf;
  font-size: 70px;
  font-weight: bold;
}
.time_hour {
  margin: 15px 0px 0px 20px;
}
.time_min {
  margin: 0px 0px 10px 0px;
}

.time_mer {
  color: #bfbfbf;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 0px -20px;
}

.time_day {
  color: #bfbfbf;
  font-size: 30px;
  font-weight: normal;
  margin: 0px 0px 20px 40px;
}

.icontimer {
  color: #bfbfbf;
  font-size: 90px;
  font-weight: normal;
}

.uphour {
  color: #bfbfbf;
  font-size: 64px;
  font-weight: 900;
}

.upmin {
  color: #bfbfbf;
  font-size: 32px;
  font-weight: bold;
}

.album_art {
  background-size: 100%;
  min-height: 140px;
  min-width: 140px;
  background-repeat: no-repeat;
  margin: 40px 0px 0px 40px;
  border-radius: 14px;
}

.song {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

.artist {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}

.btn_prev,
.btn_play,
.btn_next {
  font-family: Iosevka;
}
.btn_prev {
  color: #bfbfbf;
  font-size: 32px;
  font-weight: normal;
}
.btn_play {
  color: #bfbfbf;
  font-size: 48px;
  font-weight: bold;
}
.btn_next {
  color: #bfbfbf;
  font-size: 32px;
  font-weight: normal;
}

.music_bar scale trough highlight {
  all: unset;
  background-color: #bfbfbf;
  border-radius: 8px;
}
.music_bar scale trough {
  all: unset;
  background-color: #3a404c;
  border-radius: 8px;
  min-height: 20px;
  min-width: 310px;
  margin: 10px 0px 0px 0px;
}

.iconweather {
  font-family: Iosevka;
  font-size: 120px;
  font-weight: normal;
  margin: 15px 0px 0px 30px;
}

.label_temp {
  color: #a6a6a6;
  font-size: 80px;
  font-weight: bold;
  margin: -15px 30px 0px 0px;
}

.label_stat {
  color: #bfbfbf;
  font-size: 38px;
  font-weight: bold;
}

.label_quote {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: normal;
}

.close {
  background-color: #dfdfdf;
  border-radius: 16px;
}

.close_text {
  color: #2e3440;
  font-size: 40px;
}

/** Power buttons ***************************************/
.btn_logout,
.btn_sleep,
.btn_reboot,
.btn_poweroff {
  font-size: 48px;
  font-weight: bold;
}

.btn_logout {
  color: #bfbfbf;
}
.btn_sleep {
  color: #bfbfbf;
}
.btn_reboot {
  color: #bfbfbf;
}
.btn_poweroff {
  color: #bfbfbf;
}
